body{
    margin:0;
}
.parent{
    display: flex;
    background-color: lemonchiffon;
    justify-content: space-evenly; /* space-around, space between, start ,end, center  */
    align-items: center;
    padding: 20px;
    flex-wrap: wrap; /* for responseb*/
}
.navbar{
    background-color:yellow;
    display:flex;
    align-items: center;
    justify-content: space-evenly;

}

.navbar ul{
    display: flex;
    gap:60px;
    list-style : none;
}