.container{
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(4,auto);
    grid-template-rows: repeat(1, auto);
    gap: 20px;
}

.container div{
    background-color: blue;
    border: 2px solid black;
}

@media screen and (min-width :451px)and (max-width:850px){
    .container{
        grid-template-columns: repeat(2, auto);
    }
} 

@media screen and  (max-width:450px){
    .container{
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(4, auto);
    }
} 

    
