/* @media screen and (max-width: 750px){
body{
    background-color: aquamarine;
}

} */

/* @media screen and (min-width:450px){
    body{
        background-color: aqua;
    }
} */

@media screen and (min-width:450px) and (max-width:800px){
    body{
        background-color: brown;
    }
}